body {
    margin: 10px auto;
    max-width: calc(4em + 700px);
    width: calc(4em + 80%);
}

header, #skills {
    display: table;
    width: 100%;
}
h1, h2, #skills h3, ul {
    display: table-cell;
}
h1, #portfolio h3, #skills h3, ul, dt, .when {
    width: 30%;
}
dd {
    margin-left: 0;
}
dd + dd {
    margin-left: 30%;
}
h2, h4, dd, .what, .where {
    padding-left: 20px;
    width: 70%;
}
ul {
    width: 70%;
}
ul li {
    padding-left: 20px;
}
#portfolio h3 {
    margin-right: 20px;
}

#contact h3,
#about h3 {
    position: absolute;
}
#portfolio h3, h4, dt, dd, .when {
    float: left;
}
dt {
    clear: left;
    text-align: right;
}
.what, .where {
    float: right;
}
.what-dett {
    clear: both;
}

h4, .where, ul li {
    position: relative;
}
ul li:before, #education h4:before, .where:before {
    right: 100%;
    position: absolute;
}

time {
    display: block;
}

dl:before, ol li:before,
dl:after, ol li:after {
    content: " ";
    display: table;
}
dl:after, ol li:after {
    clear: both;
}