body {
    margin: 10px auto;
    max-width: calc(4em + 700px);
    width: calc(4em + 80%);
}

header,
#portfolio,
#skills,
dl,
ol li {
    align-items: baseline;
    display: flex;
    flex-wrap: wrap;
}
h1,
h3,
dt,
.when {
    width: 30%;
}
h2,
a.portfolio,
dd,
ul,
h4,
.where,
#education .what {
    padding-left: 20px;
    width: 70%;
}
#contact h3, #about h3 {
    position: absolute;
}
dt {
    text-align: right;
}
dd {
    margin-left: 0;
}
dd + dd,
.where,
#education .what {
    margin-left: 30%;
}
ul li,
.where,
#education h4 {
    position: relative;
}
ul li:before,
.where:before,
#education h4:before {
    left: -20px;
    padding-right: 0;
    position: absolute;
    text-align: right;
    width: 20px;
}
ul li:before {
    left: -40px;
}
.when {
    font-size: 0;
}
time {
    display: block;
    font-size: 13px;
}
time + time {
    margin-left: 25%;
}
time + time:before {
    content: "to ";
}
