html,
body {
	background: transparent;
}
body {
	color: #000;
    margin: 10px auto;
    width: 700px;
}
section {
    margin-bottom: 12px;
}
p a:after {
    content: " ("attr(href)")";
}
ol li {
    page-break-inside: avoid;
}