html, body, h1, h2, h3, h4, p,
dl, dt, dd, ol, ul, li,
header, section {
    margin:0;
    padding:0;
    letter-spacing:normal;
    word-spacing:normal;
}
html {
    background: #069;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
}
body {
    background: #EEE;
    color: #333;
    font: 13px/1.5 Verdana, sans-serif;
    margin: 1px;
    padding: 2em;
}
header, section {
    display: block;
    margin-bottom: 22px;
}
::-moz-selection{
    background: #069;
    color: #FFF;
    text-shadow: none;
}
::selection {
    background: #069;
    color: #FFF;
    text-shadow: none;
}
a:link, a:visited, a:hover, a:focus, a:active {
    background: transparent;
    border-bottom: 0 solid;
    color: #069;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:hover, a:focus, a:active {
    border-bottom: 1px solid;
}
a.portfolio {
    font-size: 174%;
    font-weight: bold;
    letter-spacing:normal;
    word-spacing:normal;
}
a.url {
    word-wrap: break-word;
}
h1 {
    font-size: 197%;
}
h2 {
    font-size: 153.9%;
}
h3 {
    font-size: 116%;
}
dt, dd {
    display: block;
    margin-top: 0.25em;
}
dd {
    margin-left: 20px;
}
ol, ul, li {
    list-style: none;
}
ul li {
    padding-left: 15px;
    text-indent: -15px;
}
ul li:before {
    color: #069;
    content: ".:";
    display: inline-block;
    padding: 0 5px 0 0;
    text-align: right;
    width: 10px;
}
ol li {
    border-bottom: 1px dotted #069;
    margin-top: 5px;
    padding-bottom: 5px;
    width: 100%;
}
ol li:last-child {
    border-bottom: 0 none;
    padding-bottom: 0;
}
time {
    font-style: italic;
    font-weight: normal;
}
.where:before, #education h4:before {
    color: #069;
    content: "@";
    font-weight: normal;
    margin: 0;
    padding: 0 0.2em;
}
.location {
    color: #666;
    font-size: 93%;
    font-weight: normal;
    padding: 0 0 0 4px;
}
#intro p, .what, .what-dett {
    margin: 0.3em 0;
    text-align: justify;
    text-indent: 1em;
}